
.padel {
	text-align: center;
	color: blue;
	font-family: Arial;
}

.futbol {
	text-align: left;
	color: green;
}

.dormir {
	text-align: right;
	font-style: italic;
}

.practiques {
	text-align: left; 
	color: yellow;
}

